.collection{
  display: flex;
  gap: 50px;
  border: solid aliceblue;
  border-radius: 12px;
  padding: 10px;
  
  
}
.card-wrapper{
  background-color: white; 
  padding: 15px;
  
 
}
.product-card{
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  box-shadow:5px 5px 5px 5px aliceblue ;
  

  

  
}

.product-card .product-detail h6{
  color: black;
  font-family: cursive;
  display: flex;
  justify-content: center;
}
.product-card .product-detail h5{
  color: black;
  font-family: cursive;
  display: flex;
  justify-content: center;
  
}
.product-card .product-detail p.price{
  color: black;
  font-family: cursive;
  display: flex;
  justify-content: center;
  
}

.wishlist-icon{
  top: 4%;
  right: 15px;
  font-size: 18px;

}
.d-flex{
  top: 10%;
  right: 15px;
  font-size: 20px;


}
.d-flex1{
  top: 16%;
  right: 13px;
  font-size: 20px;

}